---
layout: page
---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap col-12 col-md-4">
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <p class="description">{{ profile.description }}</p>

        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
  </section>
  <!-- career section -->
  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      <p class="title">EXPERIENCE</p>
      <ul class="exper-list">
        {% for exp in  profile.experience %}
        <li class="meta">
          <p class="date">{{ exp.start }}  -   {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
          <small class="title"> {{ exp.title }} </small>
        </li>
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <ul class="skill-list"> 
        
        <li class="skill">Frameworks</li>
        <ul class="skill-list"> 
          <li class="skill2"> >  Server-side: Flask | Spring-boot | ExpressJS | Vert.x | Django  </li> 
          <li class="skill2"> >  Client-side: ReactJS | React-Native | Iconic | Vue.js | Bootstrap </li>
          <li class="skill2"> >  Testing: JUnit | Jest | Mockito | Selenium </li>
        </ul>
        
        <!-- add groovy to algnuages, find name of spring mvc testing fr. add back angular + rails-->
        <li class="skill">Database + Storage</li>
        <ul class="skill-list"> 
          <li class="skill2"> >  Relational: MySQL | PostgreSQL | SQLite </li> 
          <li class="skill2"> >  NoSQL: MongoDB | DynamoDB | Redis | Firestore </li>
        </ul>

        <li class="skill">Libraries</li>
        <ul class="skill-list"> 
          <li class="skill2"> > Data Science: Scikit-learn | NumPy | pandas | NLTK | OpenCV  </li> 
          <li class="skill2"> > Machine Learning: Tensorflow | luis.ai  </li> 
          <li class="skill2"> > Front-end: Redux | Redux-Thunk | ThymeLeaf | TKinter </li>
          <!-- <li class="skill2"> > General: Boost   -->
          <li class="skill2"> > Misc.: Scrapy | Selenium | Boost </li>
        </ul>

        <li class="skill">Technologies + Deployment</li>
        <ul class="skill-list"> 
          <li class="skill2"> > Servers: Tomcat | Nginx | Jenkins | Eureka </li> 
          <li class="skill2"> > Platforms: Heroku | Docker | Kubernetes | Kafka </li> 
          <li class="skill2"> > Server-less: Lambda | EC2 | Netlify </li> 
          <li class="skill2"> > The Cloud: AWS | GCP</li>
        </ul>

        <li class="skill">Misc. Tools</li>
        <ul class="skill-list"> 
          <li class="skill2"> > Build / Bundle: Maven | Gradle | Make | webpack | GNU | Cargo </li> 
          <li class="skill2"> > Package Managent: apt-get | yarn | brew | pip | npm | gem  </li> 
          <!-- <li class="skill2"> > Environments: Node.js | JDK | GraalVM </li>  -->
          <li class="skill2"> > Documentation: Swagger  </li>
          <li class="skill2"> > Version Control: Github | Git | Bitbucket  </li>
        </ul> 
        
        <!-- <li class="skill">TODO</li>
        <ul class="skill-list"> 
          <li class="skill2"> > IDE: VisualStudio | Atom | IntelliJ  </li> 
          <li class="skill2"> > GUIs: Postman | Jupyter |   </li> 
          <li class="skill2"> > Node.js | JVM | GraalVM </li> 
          <li class="skill2"> > Misc.: Okta | JHipster | Jekyll </li> 
       </ul>  

        
       <li class="skill">Linux</li>
       <ul class="skill-list"> 
         <li class="skill2"> > TODO:  </li> 
       </ul>   -->

    </div>
  </section>

  {% include projects.html %}
</div>


<!-- <p> Flask <span style="color:rgb(74, 17, 127)"> | </span>
  Spring-Boot <span style="color:rgb(74, 17, 127)"> | </span>
  ExpressJS <span style="color:rgb(74, 17, 127)"> | </span>
  Django 
</p> -->